pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://ds598owapi.vault.azure.net/secrets/OpenWeatherAPI/5cb492cc1d2e47bfbc7678aa258c53ca"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [
					{
						"name": "startDate"
					}
				],
				"typeProperties": {
					"items": {
						"value": "@range(0, 52)\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "startDate",
									"value": "@addDays(utcNow(), mul(-7, item()))"
								},
								{
									"name": "endDate",
									"value": "@addDays(utcNow(), mul(-7, add(item(), 1)))"
								},
								{
									"name": "lat",
									"value": "30.7918613"
								},
								{
									"name": "lon",
									"value": "-83.7898868"
								}
							],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "RestSink",
									"httpRequestTimeout": "00:05:00",
									"requestInterval": 10,
									"requestMethod": "POST",
									"writeBatchSize": 10000,
									"httpCompressionType": "none"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RestResource1",
									"type": "DatasetReference",
									"parameters": {
										"lat": "30.7918613",
										"lon": "-83.7898868"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "RestResource1",
									"type": "DatasetReference",
									"parameters": {
										"lat": "30.7918613",
										"lon": "-83.7898868",
										"start": "@ticks(addDays(utcNow(), mul(-7, item())))",
										"end": "@ticks(addDays(utcNow(), mul(-7, add(item(), 1))))",
										"apiKey": "@activity('Web1').output.value"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"apiKey": {
				"type": "string",
				"defaultValue": "@{activity('Web1').output.value}"
			}
		},
		"annotations": []
	}
}